@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto+Slab:700')
@import 'vars.styl'
@import 'syntax.styl'
@import 'examples.styl'
@import 'nav.styl'

// begin global styles

body, html
  padding: 0
  margin: 0
  font-family: $font-body
  background-color: $bg
  height: 100%
  color: $txt
  font-size: $font-size

main
  display: flex
  height: 100%
  flex-direction: row-reverse

section
  flex: 1
  overflow: auto
  height: 100%

h1, h2, h3, h4, h5
  color: $txt-dark
  font-family: $font-header

h1
  letter-spacing: -0.036em
  font-size: 5em
  margin-bottom: 0

h2
  font-size: 1.8em
  margin-top: $padding-lg
  margin-bottom: $padding-sm
  padding: $padding-xs
  padding-left: $padding-sm
  border-bottom: 1px solid $border

p, li, blockquote, td
  code
    line-height: 1em
    background-color: lighten($highlighter, 40%)
    padding: 0.1em 0.25em
    white-space: nowrap
    border-radius: $border-radius
    color: $highlight-txt
    border: 1px solid $highlight-bg-dark

table
  margin: $padding-md 0
  border: 1px solid $border
  cellspacing: 0
  cellpadding: 0
  border-radius: $border-radius
  width: 100%

  th
    font-family: $font-header
    text-align: left
    background-color: $bg-2
    border-bottom: 1px solid $border

  td, th
    padding: $padding-xs

  td
    border-bottom: 1px solid $border
    border-left: 1px solid $border

    &:first-child
      border-left: none

  tr:nth-child(odd)
    background-color: white

  tr:last-child td
    border-bottom: none

// end global styles

article.page
  margin-bottom: $padding-lg
  box-sizing: border-box
  min-width: $min-width
  max-width: $max-width
  margin: 0 auto

  > h1
    margin-top: 0
    padding: $padding-lg $padding-sm 0 $padding-sm

    &:first-of-type
      border-top: none
      padding-top: $padding-md

  > h2, > h3
    background-color: $bg-2
    padding: $padding-sm
    border-bottom: 1px solid $border
    margin-top: $padding-md
    border-top-left-radius: $border-radius
    border-top-right-radius: $border-radius

  > h3
    padding-top: $padding-xs
    padding-bottom: $padding-xs

  blockquote
    border: 1px solid $highlight-bg-dark
    border-left: 5px solid $highlight-bg-dark
    color: $highlight-txt
    margin: $padding-md 0
    border-radius: $border-radius
    padding: $padding-sm $padding-md
    font-size: 1.15em
    background-color: $highlight-bg

    > p
      line-height: 1.7em
      margin: 0
      padding: 0

  li
    margin-bottom: $padding-xs

  a
    color: $link-txt
    background-color: $link-bg
    padding: 0 0.2em

  pre
    background-color: $syntax-bg
    font-size: 1em
    color: $txt
    font-family: Monaco, monospace
    padding: $padding-sm
    margin: 0
    border-top: 2px solid $bg

  hr
    margin-top: $padding-lg
    border-top: 3px solid $border
    border-bottom: none

  > p
    line-height: 1.9em
    font-size: 1.1rem
    margin-top: $padding-sm
    padding: 0 $padding-sm

  > h1, > h2, > h3
    a
      background: none
      text-decoration: none
      color: inherit
      padding: 0

      &:hover
        text-decoration: underline

article.page.main
  padding: $padding-md
  background-image:
    linear-gradient(
      to bottom,
      white,
      rgba(255, 255, 255, 0) 15%
    )
  margin-bottom: $padding-lg
  border-top: 5px dashed $border

  > p:first-of-type
    font-family: $font-body
    color: $txt-light
    font-size: 1.7rem
    letter-spacing: 0.001em
    line-height: 1.6em
    padding: $padding-sm
    margin-top: 0

nav.tabs
  border-bottom: 1px solid $border
  margin-bottom: $padding-xs
  display: flex

.tab-content
  > div
    display: none

  > .active
    display: block

nav.tabs button
  padding: $padding-xs $padding-md
  background-color: $bg-2
  font-family: $font-header
  font-size: 1em
  color: $txt
  border-top-left-radius: $border-radius
  border-top-right-radius: $border-radius
  border: 1px solid $border
  outline: none
  cursor: pointer

  &.active
    background-color: white

@media (max-width: 767px)
  /* do stuff with .content here... */
