.demo-app
  color: $text-color
  margin: $padding-md 0
  padding: $padding-md
  border-radius: $border-radius
  border: 10px solid $border
  background-color: white

  &.debug
    *[rbs-watch]
      position: relative
      overflow: visible
      box-sizing: border-box
      transition: box-shadow .1s ease-out
      box-shadow: none

      &:hover
        box-shadow: 0px 0px 10px 10000px rgba(black, .2)

        &:before
          position: absolute
          padding: .3em .6em
          font-family: Monaco, monospace
          letter-spacing: .02rem;
          font-size: 1rem
          background-color: tomato
          color: white
          content: attr(rbs-watch)
          left: -70px

  &:empty
    display: none

  pre.debug
    background-color: $bg
    border: 1px solid $border
    color: $txt-dark
    font-family: Monaco, monospace
    padding: 1rem

  h1
    margin-top: 0

  .header-container
    margin-bottom: $padding-lg

    label
      text-transform: uppercase
      font-family: $font-header
      font-size: 0.8em
      margin-right: $padding-xs

  label input[type='text']
    margin-left: $padding-xs

  .filters
    background-color: $bg-2
    border: 1px solid $border
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    padding: 10px 15px
    border-bottom: none
    display: flex
    justify-content: space-between

  input[type='text'], button, select
    background-color: $bg
    padding: $padding-xs $padding-sm
    box-sizing: border-box
    border-radius: $border-radius
    border: 1px solid $border
    font-size: 12px
    color: $txt-dark
    font-family: $font-header
    outline: none

  input[type='text']
    min-width: 200px
    background-color: $bg-light
    font-family: $font-body

  select
    height: 100%

  button
    color: $txt
    text-transform: uppercase
    font-weight: bold
    cursor: pointer

    &:disabled
      color: $txt-light
      opacity: 0.6

  ul
    padding: 0
    margin: 0 0 20px 0
    list-style: none
    border: 1px solid $border
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px

    &.simple
      border-radius: $border-radius

    li
      margin-bottom: 0
      border-bottom: 1px solid $border
      background-color: $bg-2
      padding: $padding-xs $padding-sm

      &:nth-child(odd)
        background-color: $bg

      &:last-child
        border: none

      .todo
        align-items: center
        justify-content: space-between
        display: flex

        .date
          font-size: 0.9em
          margin-right: 10px
