


<%- partial("_partials/introduction.md") %>
<div id="counter-demo" class="demo-app"></div>

<script type="module">
  import Counter from "./examples/counter.js";
  import ReBars from "./js/rebars.min.js";

  ReBars.app({
    $el: document.getElementById("counter-demo"),
    root: Counter,
  });
</script>
