

body {
  background-color: #333;
  font-family: Monaco, monospace;
  color: #666
}

#demo-app * {
  animation: pulse 1s ease-out;
}

#memory {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #444;
  padding: 10px;
  text-align: right;
}

pre.debug {
  background-color: #444;
  color: #999;
  font-family: Monaco, monospace;
  padding: 1rem;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 40px 5px orange inset;
  }
  100% {
    box-shadow: none;
  }
}
