
$root: {
  --padding-large: 50px;
}

body {
  background: rgb(224,224,224);
  background: linear-gradient(0deg, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 100%);
  font-family: Helvetica, sans-serif;
}

#demo-app {
  color: #333;
  padding: 50px;
}

#demo-app * {
  animation: highlight .2s linear;
}

#demo-app .header-container {
  margin-bottom: 40px;
}

#demo-app .header-container label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  margin-right: 6px;
}

#demo-app h1 {
  font-weight: 300;
  letter-spacing: -.02em;
  color: #444;
  margin: 0 0 10px 0;
}

#demo-app h1 small {
  font-weight: 100;
  color: #999;
  letter-spacing: -.02em;
}

#demo-app .filters {
  background-color: white;
  border: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 15px;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
}

#demo-app input[type="text"], #demo-app button, #demo-app select {
  background-color: #efefef;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 12px;
}

#demo-app input[type="text"] {
  min-width: 200px;
  background-color: white;
}

#demo-app button {
  color: #555;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

#demo-app button:disabled {
  cursor: not-allowed;
  color: #999;
  border-color: #ccc;
  background-color: #efefef;
  opacity: .6;
}

#demo-app ul {
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
  overflow: hidden;
  border: 1px solid #ccc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#demo-app ul.simple {
  border-radius: 10px;
}

#demo-app ul li {
  border-bottom: 1px solid #ccc;
  background-color: white;
  padding: 12px 15px;
}

#demo-app ul li:nth-child(odd) {
  background-color: #efefef;
}

#demo-app ul li:last-child {
  border: none;
}

#demo-app ul li .todo {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

#demo-app ul li .todo .date {
  font-size: .9em;
  margin-right: 10px;
}

pre.debug {
  background-color: #efefef;
  border: 1px solid #ccc;
  color: #999;
  font-family: Monaco, monospace;
  padding: 1rem;
}

@keyframes highlight {
  0% {
    outline: 1px solid orange;
  }

  100% {
    outline: none;
  }
}
