.demo-app {
  color: var(--text-color);
  margin: var(--padding-md) 0;
}

.demo-app {
  padding: var(--padding-md);
  border-radius: var(--border-radius);
  border: 10px solid var(--border);
  background-color: white;
}

.demo-app h1 {
  margin-top: 0;
}

.demo-app * {
  animation: highlight .2s linear;
}

.demo-app .header-container {
  margin-bottom: var(--padding-lg);
}

.demo-app .header-container label {
  text-transform: uppercase;
  font-family: var(--font-header);
  font-size: .8em;
  margin-right: var(--padding-xs);
}

.demo-app label input[type="text"] {
  margin-left: var(--padding-xs);
}

.demo-app .filters {
  background-color: var(--bg-2);
  border: 1px solid var(--border);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 15px;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
}

.demo-app input[type="text"], .demo-app button, .demo-app select {
  background-color: var(--bg);
  padding: var(--padding-xs) var(--padding-sm);
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid var(--border);
  font-size: 12px;
  color: var(--txt-dark);
  font-family: var(--font-header);
}

.demo-app input[type="text"] {
  min-width: 200px;
  background-color: var(--bg-light);
  font-family: var(--font-body);
}

.demo-app select {
  height: 100%;

}

.demo-app button {
  color: var(--txt);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.demo-app button:disabled {
  cursor: not-allowed;
  color: var(--txt-light);
  opacity: .6;
}

.demo-app ul {
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
  overflow: hidden;
  border: 1px solid var(--border);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.demo-app ul.simple {
  border-radius: var(--border-radius);
}

.demo-app ul li {
  margin-bottom: 0;
  border-bottom: 1px solid var(--border);
  background-color: var(--bg-2);
  padding: 12px 15px;
}

.demo-app ul li:nth-child(odd) {
  background-color: var(--bg);
}

.demo-app ul li:last-child {
  border: none;
}

.demo-app ul li .todo {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.demo-app ul li .todo .date {
  font-size: .9em;
  margin-right: 10px;
}

pre.debug {
  background-color: var(--bg);
  border: 1px solid var(--border);
  color: var(--bg-2);
  font-family: Monaco, monospace;
  padding: 1rem;
}

@keyframes highlight {
  0% {
    box-shadow: orange 0px 0px 14px;
  }

  100% {
    box-shadow: inherit;
  }
}
