@import url("//fonts.googleapis.com/css?family=Merriweather|Roboto+Slab:700");
@import url("vars.css");
@import url("syntax.css");
@import url("examples.css");

body, html {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  scroll-behavior: smooth;
  background-color: var(--bg);
  height: 100%;
  color: var(--txt);
  font-size: var(--font-size);
}

/* typography and headers */

h1, h2, h3, h4, h5, h6 {
  color: var(--txt-dark);
  font-family: var(--font-header);
}

h1 {
  letter-spacing: -0.036em;
  font-size: 5em;
  margin-bottom: var(--padding-lg);
}

h2 {
  font-size: 1.8em;
  margin-bottom: var(--padding-sm);
  border-bottom: 1px solid var(--border);
}

h1 small {
  display: block;
  font-weight: normal;
  font-family: var(--font-body);
  color: var(--txt-light);
  font-size: .34em;
  letter-spacing: .001em;
  line-height: 1.4em;
}

main {
  display: flex;
  height: 100%;
  flex-direction: row-reverse;
}

section {
  flex: 1;
  overflow: auto;
  height: 100%;
}

/* content styling */

.content  {
  margin-bottom: var(--padding-lg);
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  top: var(--padding-lg);
  padding-bottom: var(--padding-lg);
}

.markdown-content ul li {
  margin-bottom: var(--padding-xs);
}

.markdown-content  blockquote p {
  line-height: 1.7em;
  margin: 0;
  padding: 0;
}

.markdown-content  a {
  color: var(--link-txt);
  background-color: var(--link-bg);
  padding: 0 .2em;
}

.markdown-content  pre {
  background-color: #444;
  font-size: 1em;
  color: var(--txt);
  font-family: Monaco, monospace;
  padding: var(--padding-sm);
  margin: 0;
  border-top: 2px solid var(--bg);
}

.markdown-content  p {
  line-height: 1.8em;
  margin-top: var(--padding-sm);
}

.markdown-content p code, .content li code, .content h1 code {
  line-height: 1em;
  background-color: white;
  padding: .1em .25em;
  color: var(--txt-dark);
  border: 1px solid var(--border);
  border-radius:var(--border-radius);
  color: var(--highlight-txt);
}

.content blockquote {
  /* border: 2px solid white; */
  border-left: 5px solid var(--highlight-bg-dark);
  color: var(--highlight-txt);
  margin: var(--padding-md) 0;
  border-radius: var(--border-radius);
  padding: var(--padding-sm) var(--padding-md);
  font-size: 1.15em;
  background-color: var(--highlight-bg);
  box-shadow: -2px 2px 2px var(--highlight-bg-dark);
  line-height: 300%;
}

/* nav */

#nav-container {
  background-color: var(--bg-2);
  height: 100vh;
  overflow: auto;
  border-left: 1px solid var(--border);
}

.side-bar-nav {
  padding: var(--padding-sm) var(--padding-lg);
}

.side-bar-nav ul, nav ul li {
  list-style: none;
}

.side-bar-nav a {
  color: var(--txt-dark);
  text-decoration: none;
  padding: .2em .4em;
  border-radius: var(--border-radius);
  background: transparent;
  transition: all .3s ease-out;
}

.side-bar-nav > li {
  margin-top: var(--padding-sm);
}

.side-bar-nav > li > a {
  font-family: var(--font-header);
  font-size: .9em;
  text-transform: uppercase;
}

.side-bar-nav li > ul {
  padding-left: var(--padding-xs);
  font-family: var(--font-body);
  text-transform: capitalize;
  margin-top: var(--padding-xs);
}

.side-bar-nav li > ul li {
  margin: .4em 0;
}

.side-bar-nav a.active {
  color: var(--link-txt);
  background-color: var(--link-bg);
}

.side-bar-nav a:hover {
  color: var(--link-txt);
  text-decoration: underline;
}

@media (max-width: 767px) {
  /* do stuff with .content here... */
}
