:root {
  --padding-sm: 20px;
  --padding-lg: 50px;
  --padding-xs: 10px;
  --bg: #f8f8f8;
  --bg-2: #dedede;
  --bg-light: #fff;
  --txt-link: #d61e05;
  --bg-link: #f3dad6;
  --txt: #595959;
  --txt-dark: #595959;
  --txt-light: #777;
  --font-size: 18px;
  --border: #ccc;
  --border-radius: 4px;
  --highlight: #ebfbfe;
  --highlight-dark: #8da1c9;
  --font-header: "Roboto Slab", Helvetica, Arial, "Lucida Grande", sans-serif;
  --font-body: "Merriweather", serif;
}
